*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


h1 {
    font-family:'Nothing You Could Do', cursive;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    
}

body{
    /* margin-top: 300px; */
    background-color: rgb(255, 229, 196);
}


a{
    color: black;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 80px 50px 0 0;
    gap: 15px;
}

.nightMood{
    display: flex;
    justify-content: flex-end;
    padding: 50px 50px 0 0;
}


.name{
    width: auto;
    height: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 700px){
    h1{
        font-size: 40px;
    }

    .name{
        width: auto;
        height: 540px;
    }

    .nightMood{
        padding: 30px 30px 0 0;
    }
}

.dark-mode{
    background-color: black;
    color: white;
}


