.dark-mode{
    background-color: $black;
    color: $white;

    a{
        color: $white;
    }

    .navigation{
        background-color: $black;
    }

    .projects{
        .item{
            border: 2px solid $white;
        }
    }
}