@media (max-width: 700px){

    .intro{
        top: 0;
        justify-content: center;

        h1{
            padding: 0 100px 10px 100px;
            font-size: 2rem;
        }

        p{
            padding: 0 50px;
            font-size: 1rem;
        }
    }

    .navigation ul li a{
        font-size: 2rem;
    }

    .projects{
        li{
            a{
                font-size: 1em;
                font-weight: 200;
            }
        }
    }

    .logo{
        bottom: 50px;
        right: 50px;
    }

    .nightMoodButton{
        top: 50px;
        left: 50px;
    }

    .projects{
        flex-direction: column;
        margin: 150px 100px 100px 100px;;

        .item{
            flex-grow: 1;
            min-width: 200px;
            height: auto;
        }

        .header{
            grid-template-columns: 0% 20% 70%;
            .projectName{
                grid-column: 1/4;
                margin-bottom: 20px;
            }

            .link1{
                grid-column: 2/3;
                grid-row: 2/3;
                margin-bottom: 20px;
            }

            .link2{
                grid-column: 3/4;
                grid-row: 2/3;
                margin-bottom: 20px;
            }

            h1{
                margin-right: 0;
            }
        }
    }

}